
:root {
  --txColor: grey;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.loading img {
  width: 170px;
  height: 170px;
}

@media screen and (width <= 768px){
  .loading img {
    width: 110px;
    height: 110px;
  }
}

.movie__detail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
  margin: 1em 4em;
  font-weight: lighter;
}

.movie__detail--poster {
  width: 300px;
  height: auto;
  margin: 0 auto;
  border-radius: 1em;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5), 0 0 10px 0 rgba(0, 0, 0, 0.10);
}


/* Movie Content */
.movie__detail--content h1, 
.movie__detail--content h3{
  text-align: center;
}

.movie__detail--content h1 {
  font-size: 3rem;
  font-weight: lighter;
}
.movie__detail--content h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

/* Movie__content--Ratings */

.movie__detail--ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10em;
  margin-top: 1em;
}

.movie__detail--ratings-icon {
  display: flex;
  align-items: center;
  gap: .3em;
}

/* Movie__content--genre */
.movie__detail--genres {
  display: flex;
  justify-content: center;
  gap: 3em;
  margin-top: 2em;
}

.movie__detail--overview {
  margin: 2.5em 0;
}

.movie__detail--overview .overview-title {
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: .3em;
}

/* The cast showed in the Movie */
.movie__detail--cast .cast-title{
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: .3em;
}

.movie__detail--top-cast {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: 1;
  gap: 1em; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.movie__detail-top-cast-link {
  color: #222;
  text-decoration: none;
}

.movie__detail--cast-content {
  text-align: center;
  height: 130px;
  width: 89.23px;
  margin: 1em 0;
}

.movie__detail--cast-content img {
  width: 100%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.movie__detail--cast-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: .8rem;
}

.movie__detail--cast-name span:nth-child(2){
  color: var(--txColor);
}

/* Todo Button */

.todos {
  margin-top: 6em;
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 2em;
}

 .todos .todo__button {
  border: 1px solid rgb(81, 162, 243);
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}

.todos .todo__button .link {
  border-right: 1px solid rgb(81, 162, 243);
  padding: 2px 10px;
  color: rgb(81, 162, 243);
  font-size: .9rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo__button .link:last-child {
  border-right: none;
}
/* Trailer Model */

.trailer-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 3rem;
  color: white;
}


/* Recommendations */

 .recommendation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    row-gap: 5em;
    column-gap: 1em;
    margin: 0 auto;
    width: 95%;
 }

.recommend {
  width: 250px;
  height: 350px;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.recommend img {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.recommend img:hover {
  transform: scale(1.03);
}

.recommend div p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.like-more {
  text-align: center;
  font-size: 2.5rem;
  margin: .5em 0 1em;
}

@media screen and (width <= 768px){
  .movie__detail {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  .movie__detail--content h1 {
    font-size: 2.1rem;
  }

  .movie__detail--ratings {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .movie__detail--ratings-icon {
    display: flex;
    align-items: center;
  }

  .movie__detail--genres {
   row-gap: .5em;
   flex-wrap: wrap;
 }

 .movie__detail--cast {
  margin: 0 auto;
  width: 90%;
 }

  .movie__detail--top-cast {
    row-gap: 4em;
  }

  .todos {
    flex-direction: column;
    gap: .5em;
  }

  .todo__button {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
  }

  .like-more {
    font-size: 1.2rem;
  }

  .recommendation {
    justify-content: center;
  }

}
