.button {
  text-align: center;
  margin: 10px 0 20px;
}

.button button {
  padding: 10px 15px;
  background: rgb(8, 114, 200);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  width: 70%;
  transition: all 0.5s;
}

.button button:hover {
  background: rgb(4, 70, 124);
}